@model List<DiskHasBorrower>

@{
    ViewData["Title"] = "Checkout / Checkin Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <h4><a asp-controller="DiskHasBorrower" asp-action="Add" class="btn btn-info">Add a Checkout</a></h4>

    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>Title</th><th>Borrower's Last Name</th><th>Borrower's First Name</th><th>Borrowed Date</th><th>Due Date</th><th>Returned Date</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var diskHasBorrower in Model)
            {
                <tr>
                    <td>@diskHasBorrower.Media.Title</td>
                    <td>@diskHasBorrower.Borrower.LastName</td>
                    <td>@diskHasBorrower.Borrower.FirstName</td>
                    <td>@diskHasBorrower.BorrowedDate.ToShortDateString()</td>
                    <td>@diskHasBorrower.DueDate.ToShortDateString()</td>
                    <td>@diskHasBorrower.ReturnedDate?.ToShortDateString()</td>
                    <td>
                        <a asp-controller="DiskHasBorrower" asp-action="Edit" asp-route-id="@diskHasBorrower.DiskHasBorrowerId" class="btn btn-info">Edit</a>
                        @*<a asp-controller="DiskHasBorrower" asp-action="Delete" asp-route-id="@diskHasBorrower.DiskHasBorrowerId">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

