@model List<Medium>

@{
    ViewData["Title"] = "Media Page";
}

<div class="text-center">
    <h1 class="display-4">Media Information</h1>

    <h4><a asp-controller="Media" asp-action="Add">Add Media</a></h4>

    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>Media ID</th><th>Title</th><th>Release Date</th><th>Genre</th><th>Media Type</th><th>Loan Status</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var media in Model)
            {
            <tr>
                <td>@media.MediaId</td>
                <td>@media.Title</td>
                <td>@media.ReleaseDate.ToShortDateString()</td>
                @*<td>@media.GenreId</td>
                  <td>@media.MediaTypeId</td>
                  <td>@media.LoanStatusId</td>*@
                <td>@media.Genre.Description</td>
                <td>@media.MediaType.Description</td>
                <td>@media.LoanStatus.Description</td>
                <td>
                    <a asp-controller="Media" asp-action="Edit" asp-route-id="@media.MediaId">Edit</a>
                    <a asp-controller="Media" asp-action="Delete" asp-route-id="@media.MediaId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
